<%=render ('/layouts/navbar') %>
   <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-sm-12.align-self-center">
          <div class="intro">
          <p>Striving for change one step at a time</p>
          <p> LendAHand enables volunteer to look up volunteer opportunitites and add them to your profile page and comment on your experiences. Join us today and start sharing your volunteer experiences</p>
        </div>
      </div>
           <div class="clearfix hidden-sm-up"></div>
              <div class="col-sm-4 align-self-center">
                <%= link_to image_tag( "health1.jpg", :size => "465x465"), '/causes/Human_Rights_&_Advocacy' %>
                <div class="text">Human Rights & Advocacy</div>
              </div>
              <<div class="col-sm-4 align-self-center">
                <%= link_to image_tag( "candy1.jpg", :size => "465x465"), '/causes/Children&Youth' %>
                <div class="text">Children & Youth</div>
              </div>
              <div class="col-sm-4 align-self-center">
                <%= link_to image_tag( "handh1.jpg", :size => "465x465"), '/causes/Homeless&Housing' %>
                <div class="text">Homeless & Housing</div>
              </div>
             <div class="col-sm-4 align-self-center">
                <%= link_to image_tag("enviro3.jpg", :size => "465x465"), '/causes/Enviroment' %>
                <div class="text">Enviroment</div>
              </div>
            </div>
          </div>
      
      
