
<%= render ('/layouts/largenavbar') %>

<div class="container-fluid user-true">
  <div class="row justify-content-center">
    <div class="col-sm-12 align-self-center banner-padding">
      <div class="banner">
        <h5> Uncover the causes we support and the opportunities available to volunteers who are interested in participating in these event</h5>
      </div>
    </div>
    <div class= "col-lg-12">
    <div class= "row">
    <div class="col-sm-4 align-self-center">
      <%= link_to '/causes/Human Rights & Advocacy' do %>
      <%=  image_tag 'candy2.jpg', :class => "border-pic", :style => "margin-top: 24px;" %>
      <% end %>
      <div class="text">Human Rights & Advocacy</div>
    </div>
    <div class="col-sm-4 align-self-center">
      <%= link_to '/causes/Children & Youth' do %>
      <%=  image_tag 'candy1.jpg', :class => "border-pic"  %>
      <% end %>
      <div class="text">Children & Youth</div>
    </div>
    <div class="col-sm-4 align-self-center">
      <%= link_to '/causes/Homeless & Housing' do %>
      <%=  image_tag 'handh1.jpg', :class => "border-pic"  %>
      <% end %>
      <div class="text">Homeless & Housing</div>
    </div>
    <div class="col-sm-4 align-self-center">      
      <div class="col-sm-4 align-self-center">
            <%= link_to '/causes/Environment' do %>
            <%=  image_tag 'enviro3.jpg', :class => "border-pic",:style => "margin-left: -15px;" %>
            <% end %>            
      <div class="text">Environment</div>
    </div>   
  </div>
</div>
</div>
</div>







          

    
