<%=render ('/layouts/largenavbar') %>

 <div class="container-fluid">
   <div class="row profile-user">
     <div class="col-sm-3 col-md-3 col-lg-3">
       <div class="profile-sidebar nav-stacked affix" id="sidebar">        
    		<div class="col-sm-9 col-md-9 col-lg-9">
       		<% @opportunities.each do |opportunity| %>
         <div class="container-fluid tips">
           <div class="row">
             <div class="col-sm-12 col-md-12 col-lg-12">
               <div class="usertip-title">
                <h3>
                  <%= opportunity.name %>
                </h3>
                 <div class="container-fluid content">
                   <div class="col-sm-8">
                    <div class="pull-left">
                      <%= opportunity.cause %>
                     </div>
                   </div>
                   </div>
                 </div>
                 <div class="pull-left">
                  <%= link_to opportunity.cause, opportunity_path(opportunity.cause) %>
                  <% if current_user == @user %>
                    <%= link_to delete_user_opp_path(@user, opportunity), data: { confirm: "Are you sure you want to remove this opportunity?" }, method: :delete do %>
                     <% end %>
                     <% end %>
                   <%= opportunity.created_at.strftime("%a, %b %d, %Y @ %l:%M %p") %>
                 	</div>           
               </div>
             </div>
          </div>        
      <% end %>
      </div>
    </div>
    </div>
  </div>
</div>
