<%= render ('/layouts/largenavbar') %>

<br><br><br>
     <h1>&#160;&#160;&#160;&#160;Current Opportunities</h1>

<div class="container">
	<div class="row justify-content-center">
		<div class="col-sm-8">

<% @opportunities.each do |opportunity| %>

	<%= link_to opportunity_path(opportunity) do %>        
    <%= opportunity.name %> 
    <br>
    <%= opportunity.location %>
<%end%>
<%end%>
</div>
</div>
<br>
<br><br>

<button type="button" class="btn "><%= link_to "Add New Opp", newopp_path, class: "Add New" %> </button>



</div>




