<%= render ('/layouts/largenavbar') %>

<br><br><br>

   
       <div class="row">
           <div class="col-sm-8">
                <h4><%= @opportunity.name%></h4>
                <ul>
                  <li>Location : <%= @opportunity.location%></li>
                  <li>Cause : <%= @opportunity.cause%></li>
                  <li>Organization : <%= @opportunity.organization.name%></li>
                </ul>
                   

                  
                <div class= "favorites"> 
                <% if signed_in? %>
                <% unless current_user.favorite_opportunities.exists?(id: @opportunity.id) %>
				<%= link_to 'Add to favorites', favorite_opportunities_path(opportunity_id: @opportunity), method: :post %>
				<% else  %>
				<%= link_to 'Remove from favorites', favorite_opportunity_path(@opportunity), method: :delete %>
				<% end %>
				<% end %>
				</div>
        <button type="button" class="btn "><%= link_to "Delete Opp", destroy_opp_path(@opportunity), method: :delete%> </button>
				
        

            </div>
        </div>
   
   <%= console %>
