<%= render ('/layouts/largenavbar') %>

<br><br><br>

<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-7">

<% @organizations.each do |organization| %>

	<%= link_to org_path(organization) do %> 

    <%= organization.name %> 
  
    <%= organization.location %>
   
    <%= organization.website %>


<%end%>
<%end%>

 <%= link_to "Add New Org", neworg_path, class: "Add New" %>


       </div>
    </div>
</div>