<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container">
   <!-- Brand and toggle get grouped for better mobile display -->
   <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a href="/">
         <p class="LEND"> LEND A <span class= "glyphicon glyphicon-hand-right" ></span> HAND</p>
      </a>
   </div>
   <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
         <li>
            <a href="/opportunities">Opportunities</a>
         </li>
         <li>
            <a href="/organizations">Organizations</a>
         </li>
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Causes<b class="caret"></b></a>
            <ul class="dropdown-menu">
               <li>
                  <a href="/causes/:cause">Human Rights & Advocacy</a>
               </li>
               <li>
                  <a href="/causes/Children & Youth">Children & Youth</a>
               </li>
               <li>
                  <a href="/causes/Homeless & Housing">Homeless & Housing</a>
               </li>
               <li>
                  <a href="/causes/Environment">Environment</a>
               </li>
            </ul>
         </li>
         <li class="dropdown1">
            <span></span>
            <% flash.each do |name, msg| %>
            <%= msg %>
            <% end %>
            <div class="pull-right">
               <% if signed_in? %>
               <span>
               Welcome, #{link_to current_user.first_name, user_path(current_user)}.
               <%= link_to edit_user_registration_path(current_user) do %>
               <span class="glyphicon glyphicon-cog"></span>
               <% end %>
               <%= button_to "Sign Out", destroy_user_session_path, :method => :delete, class: "signout" %>
               </span>
               <% else %>
               <div class="sign_in"></div>
               <%= button_to "Sign In", new_user_session_path, class: "signin" %> 
               <%= button_to "Sign Up", new_user_registration_path, :method => :get, class: "signup" %>
               <% end %> 
         </li>
      </ul>
      </div>
      <!-- /.navbar-collapse -->
   </div>
   <!-- /.container -->
</nav>